.size-1,
.sizer {
  width: 8.333333%;
}

.size-2 {
  width: 16.666667%;
}

.size-3 {
  width: 25%;
}

.size-4 {
  width: 33.333333%;
}

.size-5 {
  width: 41.666667%;
}

.size-6 {
  width: 50%;
}

.size-7 {
  width: 58.333333%;
}

.size-8 {
  width: 66.666667%;
}

.size-9 {
  width: 75%
}

.size-10 {
  width: 83.333333%
}

.size-11 {
  width: 91.666667%
}

.size-12 {
  width: 100%;
}
