@import "../../../../../account/assets/admin/source/css/variables";

$search-input-height: 4rem;
$search-input-padding-y: 1.1rem;
$search-input-padding-x: 1.25rem;
$search-header-padding-y: map-get($spacers, 4);
$search-header-height: $search-input-height + $search-header-padding-y * 2;

body.quick-search-open {
  overflow: hidden;
}

.quick-search-overlay,
.quick-search-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quick-search-overlay {
  z-index: -1;
  background: rgba($modal-backdrop-bg, 0.8);
  opacity: 0;
  transition: 0.3s;
  backdrop-filter: blur(4px);
}

.quick-search-input {
  font-size: $font-size-lg;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: $search-input-padding-y $search-input-padding-x $search-input-padding-y 50px;
  height: $search-input-height;
}

.quick-search-header {
  max-width: 600px;
  margin: auto;
  padding: $search-header-padding-y 0;
}

.quick-search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  transform: translateY(-$search-header-height);
  transition: 0.3s;
}

.quick-search-input-wrapper > .icon {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  font-size: 2rem;
}

.quick-search-result {
  overflow: auto;
  height: calc(100vh - #{$search-header-height});
  transform: translateY(calc(100vh - #{$search-header-height}));
  transition: 0.3s;
  opacity: 0;
}

.quick-search-result-section-header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: map-get($spacers, 3);
}

.quick-search-result-item {
  background: #FFF;
  padding: map-get($spacers, 3);
  border-radius: $border-radius;
  margin-bottom: map-get($spacers, 3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: map-get($spacers, 3);
  margin-right: map-get($spacers, 3);
}

.quick-search-result-section {
  max-width: 600px;
  margin: auto;
}

.quick-search-result-section-body {
  display: flex;
  flex-wrap: wrap;
  margin-left: - map-get($spacers, 3);
  margin-right: - map-get($spacers, 3);
}

.quick-search-close {
  font-size: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  line-height: 1;
  padding: 2rem;
  z-index: 9999999;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-100%);
}

.quick-search-container.quick-search-open {
  .quick-search-overlay {
    opacity: 1;
  }

  .quick-search-input-wrapper {
    transform: translateY(0);
  }

  .quick-search-result {
    transform: translateY(0);
    opacity: 1;
  }

  .quick-search-close {
    transform: translateY(0);
  }
}

.quick-search-model {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  & > a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
  }

  & > a > .icon {
    font-size: 2rem;
  }
}
