// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Eflima";
$icons8-font-path: "../fonts";

$icons8-var-3d-rotate: "\f2f8";
$icons8-var-about: "\f127";
$icons8-var-access: "\f2a2";
$icons8-var-access-denied: "\f2b1";
$icons8-var-account: "\f177";
$icons8-var-account-2: "\f228";
$icons8-var-accounting: "\f26a";
$icons8-var-activity-feed: "\f3db";
$icons8-var-activity-history: "\f3d3";
$icons8-var-add: "\f4a7";
$icons8-var-add-database: "\f3cd";
$icons8-var-add-link: "\f166";
$icons8-var-add-phone: "\f3f2";
$icons8-var-add-shopping-cart: "\f372";
$icons8-var-add-to-favorites: "\f1b9";
$icons8-var-address: "\f33f";
$icons8-var-address-book: "\f17b";
$icons8-var-adjust: "\f1c7";
$icons8-var-advance: "\f4ca";
$icons8-var-advanced-search: "\f1d7";
$icons8-var-adventures: "\f35d";
$icons8-var-age: "\f1ea";
$icons8-var-agreement: "\f233";
$icons8-var-aircraft: "\f45e";
$icons8-var-airplane-landing: "\f327";
$icons8-var-airplane-take-off: "\f328";
$icons8-var-airport: "\f329";
$icons8-var-alarm-clock: "\f1f2";
$icons8-var-alert: "\f2ae";
$icons8-var-align-bottom: "\f2ff";
$icons8-var-align-center: "\f2fa";
$icons8-var-align-justify: "\f2fc";
$icons8-var-align-left: "\f2fb";
$icons8-var-align-right: "\f2fd";
$icons8-var-align-top: "\f2fe";
$icons8-var-alphabetical-sorting: "\f3e0";
$icons8-var-alphabetical-sorting-2: "\f3e4";
$icons8-var-american-express: "\f2f0";
$icons8-var-anchor: "\f335";
$icons8-var-android: "\f3f9";
$icons8-var-android-tablet: "\f3fa";
$icons8-var-answers: "\f203";
$icons8-var-apple-logo: "\f42d";
$icons8-var-apply: "\f175";
$icons8-var-approval: "\f1d9";
$icons8-var-approximately-equal: "\f27c";
$icons8-var-approximately-not-equal: "\f27f";
$icons8-var-area-chart: "\f22e";
$icons8-var-art-prices: "\f247";
$icons8-var-ascending-sorting: "\f3e5";
$icons8-var-ask-question: "\f1a8";
$icons8-var-aspect-ratio: "\f485";
$icons8-var-asterisk: "\f4c4";
$icons8-var-atm: "\f2ec";
$icons8-var-attach: "\f149";
$icons8-var-auction: "\f36d";
$icons8-var-audio: "\f49b";
$icons8-var-audio-file: "\f4de";
$icons8-var-australian-dollar: "\f2db";
$icons8-var-available-updates: "\f1be";
$icons8-var-average-math: "\f27a";
$icons8-var-babys-room: "\f3fe";
$icons8-var-back: "\f4d1";
$icons8-var-back-to: "\f4d6";
$icons8-var-badge: "\f25d";
$icons8-var-bank: "\f47b";
$icons8-var-bank-building: "\f471";
$icons8-var-bank-cards: "\f2be";
$icons8-var-bank-euro: "\f47d";
$icons8-var-bar: "\f473";
$icons8-var-bar-chart: "\f226";
$icons8-var-barcode: "\f37c";
$icons8-var-barcode-reader: "\f377";
$icons8-var-barcode-scanner: "\f37a";
$icons8-var-basket: "\f1e4";
$icons8-var-beach-ball: "\f440";
$icons8-var-behance: "\f3ac";
$icons8-var-bell-curve: "\f3c5";
$icons8-var-best-seller: "\f394";
$icons8-var-bill: "\f2c7";
$icons8-var-billing: "\f2c4";
$icons8-var-bing: "\f43b";
$icons8-var-binoculars: "\f139";
$icons8-var-bios: "\f345";
$icons8-var-birthday: "\f1fb";
$icons8-var-bitcoin: "\f2f2";
$icons8-var-block: "\f4a3";
$icons8-var-block-microphone: "\f49f";
$icons8-var-blockchain: "\f245";
$icons8-var-blockchain-new-logo: "\f254";
$icons8-var-boarding-pass: "\f333";
$icons8-var-bold: "\f31e";
$icons8-var-book: "\f283";
$icons8-var-bookmark: "\f108";
$icons8-var-bookmark-2: "\f10d";
$icons8-var-bounced-check: "\f24c";
$icons8-var-box: "\f125";
$icons8-var-box-important: "\f39b";
$icons8-var-breakable: "\f38b";
$icons8-var-brick: "\f401";
$icons8-var-brief: "\f40c";
$icons8-var-briefcase: "\f126";
$icons8-var-british-pound: "\f2d5";
$icons8-var-broadcasting: "\f3d0";
$icons8-var-brochure: "\f24a";
$icons8-var-broken-link: "\f169";
$icons8-var-bronze-medal: "\f467";
$icons8-var-browse-page: "\f1d3";
$icons8-var-bug: "\f4ee";
$icons8-var-bus: "\f45a";
$icons8-var-business: "\f267";
$icons8-var-business-building: "\f406";
$icons8-var-buy: "\f35e";
$icons8-var-buy-upgrade: "\f36c";
$icons8-var-buying: "\f365";
$icons8-var-cafe: "\f472";
$icons8-var-calculator: "\f29e";
$icons8-var-calendar: "\f134";
$icons8-var-calendar-delete: "\f1ee";
$icons8-var-calendar-minus: "\f1ec";
$icons8-var-calendar-plus: "\f1ed";
$icons8-var-call: "\f3f0";
$icons8-var-camper: "\f457";
$icons8-var-campfire: "\f445";
$icons8-var-canadian-dollar: "\f2e2";
$icons8-var-cancel: "\f11f";
$icons8-var-cancel-last-digit: "\f150";
$icons8-var-cancel-subscription: "\f18c";
$icons8-var-capital: "\f2ca";
$icons8-var-captcha: "\f2b7";
$icons8-var-card-payment: "\f2bf";
$icons8-var-card-security: "\f2c0";
$icons8-var-card-security-code: "\f2bc";
$icons8-var-card-verification-value: "\f2bd";
$icons8-var-cash: "\f2d4";
$icons8-var-cash-in-hand: "\f2d2";
$icons8-var-cash-register: "\f368";
$icons8-var-cashbook: "\f24d";
$icons8-var-category: "\f4c1";
$icons8-var-cd: "\f34a";
$icons8-var-center-of-gravity: "\f46b";
$icons8-var-charging-battery: "\f3ed";
$icons8-var-chat: "\f1a9";
$icons8-var-chat-bubble: "\f1ad";
$icons8-var-check-book: "\f2c3";
$icons8-var-check-file: "\f4e5";
$icons8-var-checked: "\f120";
$icons8-var-checked-checkbox: "\f4ab";
$icons8-var-checkmark: "\f133";
$icons8-var-checkout: "\f364";
$icons8-var-choice: "\f4f5";
$icons8-var-chrome: "\f434";
$icons8-var-clear-filters: "\f3d9";
$icons8-var-clear-shopping-cart: "\f361";
$icons8-var-clear-symbol: "\f1c9";
$icons8-var-click---collect: "\f373";
$icons8-var-clipboard: "\f324";
$icons8-var-clock: "\f11c";
$icons8-var-close-up: "\f483";
$icons8-var-close-window: "\f4bf";
$icons8-var-closed-topic: "\f1a3";
$icons8-var-clothes: "\f391";
$icons8-var-cloud: "\f414";
$icons8-var-cloud-lightning: "\f415";
$icons8-var-clouds: "\f416";
$icons8-var-code-file: "\f4df";
$icons8-var-coin-in-hand: "\f2eb";
$icons8-var-coins: "\f238";
$icons8-var-collapse: "\f31c";
$icons8-var-collapse-arrow: "\f4d0";
$icons8-var-collect: "\f214";
$icons8-var-collectibles: "\f1ff";
$icons8-var-combo-chart: "\f3c2";
$icons8-var-comments: "\f145";
$icons8-var-commercial: "\f261";
$icons8-var-compare: "\f304";
$icons8-var-compass: "\f340";
$icons8-var-compress: "\f319";
$icons8-var-computer: "\f351";
$icons8-var-computer-support: "\f4b2";
$icons8-var-conference: "\f200";
$icons8-var-confirm: "\f176";
$icons8-var-connect: "\f10f";
$icons8-var-contact: "\f17a";
$icons8-var-contact-details: "\f201";
$icons8-var-contacts: "\f128";
$icons8-var-content: "\f4b7";
$icons8-var-conversion: "\f3d7";
$icons8-var-cooling: "\f298";
$icons8-var-copy: "\f307";
$icons8-var-copy-link: "\f168";
$icons8-var-copy-to-clipboard: "\f309";
$icons8-var-copyleft: "\f408";
$icons8-var-copyright: "\f407";
$icons8-var-coupon: "\f393";
$icons8-var-create: "\f302";
$icons8-var-create-document: "\f232";
$icons8-var-create-new-child-post: "\f15e";
$icons8-var-creative-commons: "\f40b";
$icons8-var-credit-card: "\f2ba";
$icons8-var-credit-control: "\f24e";
$icons8-var-crime: "\f35a";
$icons8-var-crop: "\f30d";
$icons8-var-crowdfunding: "\f2f5";
$icons8-var-crown: "\f173";
$icons8-var-cruise-ship: "\f45b";
$icons8-var-currency: "\f2da";
$icons8-var-currency-exchange: "\f23c";
$icons8-var-cursor: "\f12c";
$icons8-var-customer-support: "\f263";
$icons8-var-cut: "\f30a";
$icons8-var-cv: "\f300";
$icons8-var-data-backup: "\f3ca";
$icons8-var-data-encryption: "\f3c7";
$icons8-var-data-protection: "\f3c8";
$icons8-var-data-quality: "\f3dd";
$icons8-var-data-recovery: "\f3cf";
$icons8-var-data-setting: "\f3e8";
$icons8-var-data-transfer: "\f3d5";
$icons8-var-database: "\f3c6";
$icons8-var-database-staff: "\f3c9";
$icons8-var-database-view: "\f3ce";
$icons8-var-date-from: "\f1f8";
$icons8-var-date-span: "\f1fa";
$icons8-var-date-to: "\f1f9";
$icons8-var-day-off: "\f1eb";
$icons8-var-debit-card: "\f2bb";
$icons8-var-debt: "\f23d";
$icons8-var-decline: "\f229";
$icons8-var-defense: "\f488";
$icons8-var-delete: "\f107";
$icons8-var-delete-database: "\f3cb";
$icons8-var-delete-database-2: "\f3cc";
$icons8-var-delete-link: "\f167";
$icons8-var-delete-message: "\f1aa";
$icons8-var-delete-shield: "\f2b2";
$icons8-var-delete-ticket: "\f330";
$icons8-var-deleted-message: "\f158";
$icons8-var-delicious: "\f3ba";
$icons8-var-delivered: "\f32d";
$icons8-var-delivery: "\f266";
$icons8-var-department: "\f223";
$icons8-var-deposit: "\f23f";
$icons8-var-descending-sorting: "\f3e1";
$icons8-var-details: "\f4b4";
$icons8-var-deviantart: "\f3ad";
$icons8-var-deviation: "\f4c3";
$icons8-var-dictionary: "\f282";
$icons8-var-digg: "\f3b8";
$icons8-var-discount: "\f392";
$icons8-var-discover: "\f2f7";
$icons8-var-discussion-forum: "\f1a4";
$icons8-var-dislike: "\f16c";
$icons8-var-divide: "\f276";
$icons8-var-divider: "\f4d7";
$icons8-var-do-not-disturb: "\f174";
$icons8-var-do-not-stack: "\f389";
$icons8-var-do-not-tilt: "\f38c";
$icons8-var-document: "\f116";
$icons8-var-documentary: "\f35b";
$icons8-var-documents: "\f230";
$icons8-var-donate: "\f239";
$icons8-var-donation: "\f250";
$icons8-var-double-down: "\f143";
$icons8-var-double-left: "\f142";
$icons8-var-double-right: "\f141";
$icons8-var-double-tick: "\f4ad";
$icons8-var-double-up: "\f144";
$icons8-var-doughnut-chart: "\f3c3";
$icons8-var-down-button: "\f4d5";
$icons8-var-download: "\f1bc";
$icons8-var-download-from-the-cloud: "\f10b";
$icons8-var-download-pie-chart-report: "\f26c";
$icons8-var-downloading-updates: "\f1b5";
$icons8-var-downloads: "\f1e6";
$icons8-var-drag: "\f317";
$icons8-var-dribbble: "\f3aa";
$icons8-var-e-commerce: "\f374";
$icons8-var-edit: "\f106";
$icons8-var-edit-pie-chart-report: "\f26d";
$icons8-var-eject: "\f499";
$icons8-var-electricity: "\f4e8";
$icons8-var-ellipsis: "\f4c5";
$icons8-var-email: "\f1b8";
$icons8-var-email-sign: "\f4a8";
$icons8-var-empty-battery: "\f3e9";
$icons8-var-empty-trash: "\f323";
$icons8-var-encashment-car: "\f2e7";
$icons8-var-end: "\f494";
$icons8-var-enlarge: "\f31a";
$icons8-var-enter: "\f1ba";
$icons8-var-equal-sign: "\f278";
$icons8-var-erase: "\f30b";
$icons8-var-error: "\f1b1";
$icons8-var-estimate: "\f26b";
$icons8-var-euro: "\f23b";
$icons8-var-event: "\f1e9";
$icons8-var-event-accepted: "\f1ef";
$icons8-var-event-accepted-tentatively: "\f1f1";
$icons8-var-event-declined: "\f1f0";
$icons8-var-exchange: "\f3d1";
$icons8-var-exclamation-mark: "\f4c7";
$icons8-var-exit: "\f1b7";
$icons8-var-expand: "\f31d";
$icons8-var-expand-arrow: "\f4cf";
$icons8-var-expensive-price: "\f38f";
$icons8-var-experiment: "\f29b";
$icons8-var-expired: "\f21a";
$icons8-var-export: "\f3de";
$icons8-var-external-link: "\f12a";
$icons8-var-eye: "\f171";
$icons8-var-face-id: "\f2b9";
$icons8-var-facebook: "\f39e";
$icons8-var-facebook-like: "\f3bc";
$icons8-var-facebook-messenger: "\f3b0";
$icons8-var-factory: "\f4e7";
$icons8-var-fairytale: "\f3ff";
$icons8-var-fantasy: "\f35c";
$icons8-var-fast-forward: "\f492";
$icons8-var-fee: "\f20b";
$icons8-var-feedback: "\f15d";
$icons8-var-female-user: "\f137";
$icons8-var-file: "\f112";
$icons8-var-filled-bookmark-ribbon: "\f110";
$icons8-var-filter: "\f3d8";
$icons8-var-filtration: "\f28d";
$icons8-var-find-and-replace: "\f1c2";
$icons8-var-fingerprint: "\f2b8";
$icons8-var-fingerprint-scan: "\f2b6";
$icons8-var-firefox: "\f431";
$icons8-var-firewall: "\f2a0";
$icons8-var-fit-to-width: "\f46f";
$icons8-var-flash-light: "\f446";
$icons8-var-flash-on: "\f480";
$icons8-var-flickr: "\f3ae";
$icons8-var-float: "\f441";
$icons8-var-flow: "\f212";
$icons8-var-flow-chart: "\f3bf";
$icons8-var-fog: "\f424";
$icons8-var-folder: "\f113";
$icons8-var-food: "\f390";
$icons8-var-forest: "\f444";
$icons8-var-forgot-password: "\f2a9";
$icons8-var-form: "\f1c4";
$icons8-var-forward: "\f4d2";
$icons8-var-forward-arrow: "\f4cc";
$icons8-var-forward-message: "\f15f";
$icons8-var-foursquare: "\f3a7";
$icons8-var-fragile: "\f381";
$icons8-var-frame: "\f486";
$icons8-var-free-shipping: "\f37d";
$icons8-var-front-desk: "\f44a";
$icons8-var-full-battery: "\f3ea";
$icons8-var-full-image: "\f312";
$icons8-var-full-trash: "\f322";
$icons8-var-game-controller: "\f48b";
$icons8-var-gantt-chart: "\f22b";
$icons8-var-genealogy: "\f3c0";
$icons8-var-general-ledger: "\f237";
$icons8-var-get-cash: "\f2e8";
$icons8-var-get-quote: "\f151";
$icons8-var-gg: "\f2f6";
$icons8-var-gift: "\f395";
$icons8-var-gift-card: "\f397";
$icons8-var-github: "\f3b1";
$icons8-var-globe: "\f1e7";
$icons8-var-gmail-login: "\f157";
$icons8-var-goal: "\f221";
$icons8-var-gold-medal: "\f469";
$icons8-var-google: "\f43a";
$icons8-var-google-maps: "\f3a8";
$icons8-var-google-play: "\f435";
$icons8-var-google-plus: "\f39f";
$icons8-var-google-wallet: "\f2f3";
$icons8-var-gps: "\f33e";
$icons8-var-graduation-cap: "\f286";
$icons8-var-graph-report: "\f412";
$icons8-var-graph-report-script: "\f26e";
$icons8-var-grid-view: "\f3dc";
$icons8-var-group-message: "\f15a";
$icons8-var-guitar: "\f442";
$icons8-var-hammer: "\f403";
$icons8-var-hand-cursor: "\f135";
$icons8-var-hand-with-pen: "\f40d";
$icons8-var-handle-with-care: "\f387";
$icons8-var-handshake: "\f35f";
$icons8-var-happy: "\f4a1";
$icons8-var-hashtag: "\f279";
$icons8-var-hashtag-large: "\f14e";
$icons8-var-haze: "\f423";
$icons8-var-headset: "\f39a";
$icons8-var-heart: "\f16a";
$icons8-var-heavy-rain: "\f427";
$icons8-var-heavy-rain-2: "\f429";
$icons8-var-help: "\f4af";
$icons8-var-hide: "\f1dd";
$icons8-var-hierarchy: "\f213";
$icons8-var-high-importance: "\f193";
$icons8-var-high-priority: "\f1da";
$icons8-var-high-priority-message: "\f1af";
$icons8-var-home: "\f123";
$icons8-var-hongkong-dollar: "\f2d9";
$icons8-var-horn: "\f443";
$icons8-var-hotel-bed: "\f44d";
$icons8-var-hotel-building: "\f44b";
$icons8-var-hourglass: "\f1fc";
$icons8-var-humidity: "\f28e";
$icons8-var-id-not-verified: "\f2a4";
$icons8-var-id-verified: "\f2a3";
$icons8-var-idea: "\f132";
$icons8-var-idea-bank: "\f207";
$icons8-var-idea-sharing: "\f3d2";
$icons8-var-identification-documents: "\f461";
$icons8-var-imac: "\f350";
$icons8-var-image-file: "\f115";
$icons8-var-import: "\f3df";
$icons8-var-in-transit: "\f385";
$icons8-var-inbox: "\f195";
$icons8-var-inconsistency: "\f4c2";
$icons8-var-indeterminate-checkbox: "\f4ae";
$icons8-var-index: "\f316";
$icons8-var-infinity: "\f29d";
$icons8-var-info: "\f124";
$icons8-var-information: "\f1dc";
$icons8-var-initial-state: "\f4ba";
$icons8-var-initiate-money-transfer: "\f241";
$icons8-var-innovation: "\f40f";
$icons8-var-insert-credit-card: "\f2c1";
$icons8-var-insert-money-euro: "\f2ea";
$icons8-var-inspection: "\f208";
$icons8-var-instagram: "\f3a2";
$icons8-var-instagram-old: "\f3b6";
$icons8-var-installing-updates: "\f1b4";
$icons8-var-internet: "\f202";
$icons8-var-internet-explorer: "\f430";
$icons8-var-invisible: "\f172";
$icons8-var-invite: "\f15c";
$icons8-var-invoice: "\f2c6";
$icons8-var-ios-logo: "\f42e";
$icons8-var-ipad: "\f3f7";
$icons8-var-italic: "\f31f";
$icons8-var-japanese-yen: "\f2d7";
$icons8-var-jcb: "\f2f1";
$icons8-var-job: "\f259";
$icons8-var-job-seeker: "\f25b";
$icons8-var-keep-dry: "\f388";
$icons8-var-key: "\f12f";
$icons8-var-key-2: "\f2ad";
$icons8-var-keyboard: "\f353";
$icons8-var-keypad: "\f1c8";
$icons8-var-king: "\f48a";
$icons8-var-knowledge-sharing: "\f287";
$icons8-var-lady: "\f178";
$icons8-var-laptop: "\f34f";
$icons8-var-last-24-hours: "\f39c";
$icons8-var-law: "\f289";
$icons8-var-layers: "\f44f";
$icons8-var-leaderboard: "\f464";
$icons8-var-leave: "\f21b";
$icons8-var-length: "\f291";
$icons8-var-less-or-equal: "\f27b";
$icons8-var-less-than: "\f27d";
$icons8-var-letterbox: "\f19f";
$icons8-var-library: "\f285";
$icons8-var-light-rain: "\f425";
$icons8-var-light-snow: "\f42c";
$icons8-var-line: "\f3bd";
$icons8-var-line-chart: "\f227";
$icons8-var-link: "\f165";
$icons8-var-linked-mailbox: "\f19a";
$icons8-var-linkedin: "\f3a6";
$icons8-var-list: "\f1bf";
$icons8-var-list-of-thumbnails: "\f4b8";
$icons8-var-loader: "\f1d8";
$icons8-var-lock: "\f11d";
$icons8-var-lock-2: "\f2ac";
$icons8-var-lock-orientation: "\f2f9";
$icons8-var-login: "\f1ce";
$icons8-var-login-rounded-up: "\f1cd";
$icons8-var-love: "\f16f";
$icons8-var-low-battery: "\f3ec";
$icons8-var-low-importance: "\f194";
$icons8-var-low-priority: "\f21d";
$icons8-var-low-volume: "\f49d";
$icons8-var-loyalty-card: "\f396";
$icons8-var-luggage-trolley: "\f454";
$icons8-var-magnet: "\f489";
$icons8-var-magnetic: "\f384";
$icons8-var-mailbox: "\f13a";
$icons8-var-mailbox-opened-flag-up: "\f19d";
$icons8-var-maintenance: "\f4b0";
$icons8-var-management: "\f225";
$icons8-var-manager: "\f20c";
$icons8-var-map: "\f338";
$icons8-var-map-editing: "\f33a";
$icons8-var-map-marker: "\f339";
$icons8-var-marker: "\f33c";
$icons8-var-mastercard: "\f2ee";
$icons8-var-mastercard-credit-card: "\f2c2";
$icons8-var-math: "\f29c";
$icons8-var-measurement-tool: "\f28c";
$icons8-var-medal-first-place: "\f462";
$icons8-var-medal-second-place: "\f466";
$icons8-var-medal-third-place: "\f465";
$icons8-var-medium: "\f3a4";
$icons8-var-medium-icons: "\f4b9";
$icons8-var-medium-priority: "\f21e";
$icons8-var-megaphone: "\f179";
$icons8-var-menu: "\f1cf";
$icons8-var-menu-vertical: "\f1d0";
$icons8-var-merge-horizontal: "\f4da";
$icons8-var-merge-vertical: "\f4d9";
$icons8-var-micro-sd: "\f347";
$icons8-var-microscope: "\f29a";
$icons8-var-microsoft-edge: "\f42f";
$icons8-var-mind-map: "\f22d";
$icons8-var-missed-call: "\f3ee";
$icons8-var-mobile: "\f3f6";
$icons8-var-mobile-payment: "\f24f";
$icons8-var-mockup: "\f410";
$icons8-var-moderator: "\f186";
$icons8-var-monarch: "\f185";
$icons8-var-money: "\f2cc";
$icons8-var-money-bag: "\f2cd";
$icons8-var-money-box: "\f2cb";
$icons8-var-money-transfer: "\f23a";
$icons8-var-money-yours: "\f252";
$icons8-var-monitor: "\f354";
$icons8-var-monument: "\f451";
$icons8-var-more: "\f14c";
$icons8-var-more-or-equal: "\f27e";
$icons8-var-more-than: "\f281";
$icons8-var-motorbike-helmet: "\f32a";
$icons8-var-motorcycle: "\f32b";
$icons8-var-mouse: "\f34b";
$icons8-var-mouse-pointer: "\f4a5";
$icons8-var-move: "\f30f";
$icons8-var-move-stock: "\f371";
$icons8-var-movie-ticket: "\f334";
$icons8-var-multichannel: "\f405";
$icons8-var-multiply: "\f275";
$icons8-var-museum: "\f450";
$icons8-var-music: "\f130";
$icons8-var-musical: "\f359";
$icons8-var-mute: "\f49a";
$icons8-var-myspace: "\f3b5";
$icons8-var-myspace-app: "\f43d";
$icons8-var-name-tag: "\f20e";
$icons8-var-navigate: "\f337";
$icons8-var-new-document: "\f1e5";
$icons8-var-new-job: "\f25a";
$icons8-var-new-message: "\f159";
$icons8-var-new-post: "\f156";
$icons8-var-new-ticket: "\f331";
$icons8-var-new-topic: "\f148";
$icons8-var-new-window: "\f1d4";
$icons8-var-news: "\f129";
$icons8-var-news-feed: "\f3da";
$icons8-var-next-page: "\f4d3";
$icons8-var-night: "\f418";
$icons8-var-night-landscape: "\f482";
$icons8-var-no-audio: "\f49e";
$icons8-var-no-baggage: "\f459";
$icons8-var-no-barcode: "\f378";
$icons8-var-no-battery: "\f3eb";
$icons8-var-no-camera: "\f477";
$icons8-var-no-cash: "\f479";
$icons8-var-no-chat: "\f1a7";
$icons8-var-no-credit-cards: "\f476";
$icons8-var-no-idea: "\f270";
$icons8-var-no-mobile: "\f478";
$icons8-var-no-rain: "\f422";
$icons8-var-no-reminders: "\f198";
$icons8-var-no-synchronize: "\f10e";
$icons8-var-noise: "\f2a1";
$icons8-var-normal-distribution-histogram: "\f3c4";
$icons8-var-not-applicable: "\f269";
$icons8-var-not-equal: "\f280";
$icons8-var-note: "\f14a";
$icons8-var-nothing-found: "\f1d5";
$icons8-var-notification: "\f1b6";
$icons8-var-numbered-list: "\f1c0";
$icons8-var-numeric: "\f3e3";
$icons8-var-octocat: "\f3b3";
$icons8-var-office-phone: "\f265";
$icons8-var-offline: "\f184";
$icons8-var-ok: "\f12d";
$icons8-var-one-to-one: "\f3d4";
$icons8-var-one-way-transition: "\f4bb";
$icons8-var-online: "\f182";
$icons8-var-online-money-transfer: "\f244";
$icons8-var-online-payment: "\f251";
$icons8-var-online-payment-with-a-credit-card: "\f242";
$icons8-var-online-store: "\f38d";
$icons8-var-online-support: "\f20d";
$icons8-var-open-archive: "\f4dc";
$icons8-var-open-book: "\f284";
$icons8-var-open-envelope: "\f154";
$icons8-var-open-in-popup: "\f4b5";
$icons8-var-opened-folder: "\f117";
$icons8-var-opera: "\f433";
$icons8-var-organization: "\f222";
$icons8-var-original-size: "\f310";
$icons8-var-out-of-stock: "\f375";
$icons8-var-outbox: "\f190";
$icons8-var-padlock: "\f11e";
$icons8-var-page: "\f311";
$icons8-var-paid: "\f36b";
$icons8-var-paint-brush: "\f404";
$icons8-var-paint-roller: "\f314";
$icons8-var-palm-tree: "\f43e";
$icons8-var-paper: "\f46c";
$icons8-var-paper-money: "\f2d0";
$icons8-var-paper-plane: "\f3fd";
$icons8-var-partly-cloudy-day: "\f417";
$icons8-var-party-balloons: "\f470";
$icons8-var-password: "\f1ca";
$icons8-var-password-1: "\f2aa";
$icons8-var-paste: "\f301";
$icons8-var-paste-special: "\f303";
$icons8-var-pause: "\f491";
$icons8-var-paycheque: "\f243";
$icons8-var-payment-history: "\f2c9";
$icons8-var-paypal: "\f2ed";
$icons8-var-payroll: "\f258";
$icons8-var-pdf: "\f4e0";
$icons8-var-pdf-2: "\f4e4";
$icons8-var-percentage: "\f273";
$icons8-var-performance-macbook: "\f355";
$icons8-var-permanent-job: "\f257";
$icons8-var-phone: "\f3ef";
$icons8-var-photo-gallery: "\f481";
$icons8-var-picture: "\f114";
$icons8-var-pie-chart: "\f3be";
$icons8-var-pin-code: "\f14f";
$icons8-var-pinterest: "\f3ab";
$icons8-var-planner: "\f211";
$icons8-var-play: "\f48e";
$icons8-var-play-button: "\f3a1";
$icons8-var-play-record: "\f4a0";
$icons8-var-plugin: "\f4f0";
$icons8-var-plus: "\f103";
$icons8-var-plus-math: "\f271";
$icons8-var-plus-minus: "\f272";
$icons8-var-point-of-interest: "\f456";
$icons8-var-poison: "\f4ea";
$icons8-var-poll: "\f1a2";
$icons8-var-poo: "\f187";
$icons8-var-popular: "\f147";
$icons8-var-pos-terminal: "\f369";
$icons8-var-post: "\f162";
$icons8-var-post-box: "\f19e";
$icons8-var-postal: "\f19c";
$icons8-var-postcard: "\f4a2";
$icons8-var-poster: "\f47e";
$icons8-var-ppt: "\f4e3";
$icons8-var-presentation-filled: "\f411";
$icons8-var-pressure: "\f296";
$icons8-var-print: "\f46d";
$icons8-var-printer: "\f46e";
$icons8-var-prison: "\f47c";
$icons8-var-privacy: "\f199";
$icons8-var-private: "\f191";
$icons8-var-proactivity: "\f260";
$icons8-var-process: "\f217";
$icons8-var-processor: "\f34d";
$icons8-var-product: "\f363";
$icons8-var-profile: "\f256";
$icons8-var-profit: "\f24b";
$icons8-var-protect: "\f2b3";
$icons8-var-prototype: "\f25f";
$icons8-var-public: "\f192";
$icons8-var-public-transportation: "\f45f";
$icons8-var-purchase-order: "\f2c5";
$icons8-var-purse: "\f2cf";
$icons8-var-push-notifications: "\f18b";
$icons8-var-push-pin: "\f4ec";
$icons8-var-puzzle: "\f118";
$icons8-var-qr-code: "\f37b";
$icons8-var-query: "\f2af";
$icons8-var-quest: "\f33b";
$icons8-var-question-mark: "\f4c6";
$icons8-var-questionnaire: "\f206";
$icons8-var-questions: "\f204";
$icons8-var-quote: "\f1ac";
$icons8-var-quote-left: "\f152";
$icons8-var-rain: "\f419";
$icons8-var-rain-cloud: "\f41f";
$icons8-var-rain-cloud-2: "\f42a";
$icons8-var-rainfall: "\f420";
$icons8-var-rainy-night: "\f428";
$icons8-var-rainy-weather: "\f426";
$icons8-var-rating: "\f12b";
$icons8-var-realtime: "\f29f";
$icons8-var-receipt: "\f2c8";
$icons8-var-receive-cash: "\f2e5";
$icons8-var-received: "\f160";
$icons8-var-record: "\f490";
$icons8-var-recurring-appointment-exception: "\f21f";
$icons8-var-reddit: "\f3bb";
$icons8-var-redeem: "\f362";
$icons8-var-redo: "\f306";
$icons8-var-refresh: "\f104";
$icons8-var-refund: "\f2e4";
$icons8-var-refuse: "\f1ae";
$icons8-var-registered-trademark: "\f409";
$icons8-var-remove-ads: "\f264";
$icons8-var-remove-key: "\f2a6";
$icons8-var-renew: "\f18d";
$icons8-var-rent: "\f224";
$icons8-var-repeat: "\f496";
$icons8-var-repeat-one: "\f497";
$icons8-var-replace: "\f1c1";
$icons8-var-reply: "\f155";
$icons8-var-reply-all: "\f161";
$icons8-var-reply-all-arrow: "\f4cd";
$icons8-var-reply-arrow: "\f4cb";
$icons8-var-request-money: "\f240";
$icons8-var-reservation: "\f475";
$icons8-var-reset: "\f215";
$icons8-var-resize-horizontal: "\f31b";
$icons8-var-resize-vertical: "\f318";
$icons8-var-response: "\f1ab";
$icons8-var-restart: "\f102";
$icons8-var-restaurant: "\f474";
$icons8-var-resume-button: "\f498";
$icons8-var-return: "\f4ce";
$icons8-var-return-purchase: "\f36a";
$icons8-var-retweet: "\f18f";
$icons8-var-reversed-numerical-sorting: "\f3e2";
$icons8-var-rewind: "\f493";
$icons8-var-ringer-volume: "\f3f3";
$icons8-var-romance: "\f358";
$icons8-var-rotate: "\f313";
$icons8-var-rotate-left: "\f4c9";
$icons8-var-rotate-right: "\f4c8";
$icons8-var-rss: "\f18e";
$icons8-var-rubber-stamp: "\f236";
$icons8-var-ruble: "\f2de";
$icons8-var-rucksack: "\f447";
$icons8-var-ruler: "\f30c";
$icons8-var-rules: "\f22f";
$icons8-var-rupee: "\f2dd";
$icons8-var-safari: "\f432";
$icons8-var-safe: "\f2e6";
$icons8-var-sail-boat: "\f45c";
$icons8-var-sales-performance: "\f23e";
$icons8-var-satellite-in-orbit: "\f343";
$icons8-var-satellites: "\f344";
$icons8-var-save: "\f1b2";
$icons8-var-save-as: "\f1b3";
$icons8-var-save-search: "\f4a9";
$icons8-var-scale: "\f290";
$icons8-var-scales: "\f28b";
$icons8-var-scan-stock: "\f370";
$icons8-var-scatter-plot: "\f22c";
$icons8-var-schedule: "\f21c";
$icons8-var-scoreboard: "\f46a";
$icons8-var-screensharing: "\f1c5";
$icons8-var-screenshot: "\f30e";
$icons8-var-sd: "\f346";
$icons8-var-search: "\f100";
$icons8-var-search-contacts: "\f17e";
$icons8-var-search-more: "\f1d6";
$icons8-var-secure: "\f196";
$icons8-var-secure-cloud: "\f3d6";
$icons8-var-secured-letter: "\f153";
$icons8-var-security-ssl: "\f2b4";
$icons8-var-sell-stock: "\f36f";
$icons8-var-send: "\f164";
$icons8-var-send-email: "\f163";
$icons8-var-send-file: "\f14b";
$icons8-var-sent: "\f14d";
$icons8-var-service-bell: "\f449";
$icons8-var-services: "\f11a";
$icons8-var-settings: "\f11b";
$icons8-var-share: "\f109";
$icons8-var-share-3: "\f111";
$icons8-var-shared-mailbox: "\f19b";
$icons8-var-shekel: "\f2e1";
$icons8-var-shield: "\f487";
$icons8-var-shipped: "\f386";
$icons8-var-shipping-container: "\f38e";
$icons8-var-shit-hits-fan: "\f17c";
$icons8-var-shoes: "\f448";
$icons8-var-shop: "\f262";
$icons8-var-shopping-bag: "\f366";
$icons8-var-shopping-basket: "\f360";
$icons8-var-shopping-cart: "\f367";
$icons8-var-show-password: "\f2a7";
$icons8-var-shuffle: "\f48d";
$icons8-var-shutdown: "\f34c";
$icons8-var-shuttle: "\f45d";
$icons8-var-sidebar-menu: "\f1d2";
$icons8-var-sigma: "\f288";
$icons8-var-sign-out: "\f1cb";
$icons8-var-sign-up: "\f308";
$icons8-var-signature: "\f231";
$icons8-var-signin: "\f1cc";
$icons8-var-signpost: "\f341";
$icons8-var-silver-medal: "\f468";
$icons8-var-skip-to-start: "\f495";
$icons8-var-skype: "\f436";
$icons8-var-sleep: "\f400";
$icons8-var-sleet: "\f41e";
$icons8-var-slide-up: "\f4d4";
$icons8-var-slider: "\f3e6";
$icons8-var-sling-here: "\f37e";
$icons8-var-smart-card: "\f268";
$icons8-var-smartphone-chat-female: "\f181";
$icons8-var-smartphone-chat-male: "\f17f";
$icons8-var-smartphone-chat-male-2: "\f180";
$icons8-var-snapchat: "\f437";
$icons8-var-snow: "\f41a";
$icons8-var-snow-storm: "\f41b";
$icons8-var-software-installer: "\f4f4";
$icons8-var-sort: "\f4db";
$icons8-var-sort-down: "\f13e";
$icons8-var-sort-left: "\f13d";
$icons8-var-sort-right: "\f13f";
$icons8-var-sort-up: "\f140";
$icons8-var-sorting: "\f205";
$icons8-var-source-code: "\f4eb";
$icons8-var-spade: "\f402";
$icons8-var-spam: "\f197";
$icons8-var-speech-bubble: "\f131";
$icons8-var-speed: "\f293";
$icons8-var-speedometer: "\f336";
$icons8-var-split-transaction: "\f2e9";
$icons8-var-split-vertical: "\f4d8";
$icons8-var-square-root: "\f277";
$icons8-var-ssd: "\f348";
$icons8-var-stack-exchange: "\f3b4";
$icons8-var-stack-of-money: "\f2d1";
$icons8-var-stack-of-tweets: "\f1a5";
$icons8-var-stack-overflow: "\f3b2";
$icons8-var-stamp: "\f235";
$icons8-var-star: "\f16b";
$icons8-var-star-filled: "\f170";
$icons8-var-star-half: "\f16d";
$icons8-var-star-half-empty: "\f16e";
$icons8-var-statistics: "\f25e";
$icons8-var-stop: "\f48f";
$icons8-var-stopwatch: "\f1f3";
$icons8-var-storage: "\f4aa";
$icons8-var-storm: "\f41c";
$icons8-var-stormy-weather: "\f41d";
$icons8-var-street-view: "\f342";
$icons8-var-stripe: "\f2f4";
$icons8-var-study: "\f234";
$icons8-var-stumbleupon: "\f3b9";
$icons8-var-subtract: "\f274";
$icons8-var-suitcase: "\f455";
$icons8-var-summer: "\f43f";
$icons8-var-sun: "\f12e";
$icons8-var-sunlight: "\f37f";
$icons8-var-support: "\f119";
$icons8-var-survey: "\f218";
$icons8-var-swedish-krona: "\f2dc";
$icons8-var-swiss-franc: "\f2d8";
$icons8-var-sword: "\f48c";
$icons8-var-synchronize: "\f10a";
$icons8-var-system-information: "\f4f1";
$icons8-var-system-report: "\f4f3";
$icons8-var-system-task: "\f4f2";
$icons8-var-tag-window: "\f4c0";
$icons8-var-target: "\f20f";
$icons8-var-tasklist: "\f40e";
$icons8-var-tasks: "\f220";
$icons8-var-tax: "\f249";
$icons8-var-taxi: "\f47a";
$icons8-var-telegram-app: "\f438";
$icons8-var-telephone: "\f3f1";
$icons8-var-temperature: "\f294";
$icons8-var-temperature-sensitive: "\f38a";
$icons8-var-template: "\f4ef";
$icons8-var-tent: "\f452";
$icons8-var-test-tube: "\f28f";
$icons8-var-thermometer: "\f413";
$icons8-var-this-way-up: "\f382";
$icons8-var-thumbnails: "\f315";
$icons8-var-thumbs-down: "\f3fb";
$icons8-var-tick-box: "\f122";
$icons8-var-ticket: "\f32f";
$icons8-var-tiles: "\f4b6";
$icons8-var-time: "\f292";
$icons8-var-time-card: "\f25c";
$icons8-var-time-machine: "\f1fe";
$icons8-var-time-search: "\f1f7";
$icons8-var-timecode: "\f325";
$icons8-var-timeline: "\f22a";
$icons8-var-timer: "\f1f5";
$icons8-var-timezone: "\f1fd";
$icons8-var-today: "\f1e8";
$icons8-var-todo-list: "\f219";
$icons8-var-toggle-off: "\f4bd";
$icons8-var-toggle-on: "\f4be";
$icons8-var-toolbox: "\f136";
$icons8-var-topic: "\f146";
$icons8-var-topic-moved: "\f1a1";
$icons8-var-torrential-rain: "\f42b";
$icons8-var-touchscreen: "\f3f4";
$icons8-var-track-order: "\f399";
$icons8-var-tracking: "\f398";
$icons8-var-trademark: "\f40a";
$icons8-var-train-ticket: "\f453";
$icons8-var-transaction: "\f253";
$icons8-var-transaction-2: "\f2e3";
$icons8-var-transaction-list: "\f246";
$icons8-var-transition-both-directions: "\f4bc";
$icons8-var-translation: "\f28a";
$icons8-var-trash: "\f105";
$icons8-var-trash-can: "\f101";
$icons8-var-travel-card: "\f458";
$icons8-var-tree-structure: "\f210";
$icons8-var-trolley: "\f380";
$icons8-var-trolley-2: "\f383";
$icons8-var-trophy: "\f463";
$icons8-var-truck: "\f32c";
$icons8-var-trust: "\f20a";
$icons8-var-tumblr: "\f3a5";
$icons8-var-tune: "\f1c6";
$icons8-var-turkish-lira: "\f2e0";
$icons8-var-twitter: "\f39d";
$icons8-var-two-tickets: "\f332";
$icons8-var-type: "\f321";
$icons8-var-typography: "\f320";
$icons8-var-unavailable: "\f121";
$icons8-var-unchecked-checkbox: "\f4ac";
$icons8-var-undo: "\f305";
$icons8-var-uninstalling-updates: "\f1c3";
$icons8-var-unit: "\f216";
$icons8-var-unknown-status: "\f183";
$icons8-var-unlock: "\f2ab";
$icons8-var-unpin: "\f4ed";
$icons8-var-unverified-account: "\f1df";
$icons8-var-up-down-arrow: "\f3e7";
$icons8-var-upload: "\f1bd";
$icons8-var-upload-to-the-cloud: "\f10c";
$icons8-var-urgent-message: "\f15b";
$icons8-var-us-dollar: "\f2d6";
$icons8-var-usb-connector: "\f356";
$icons8-var-usb-off: "\f34e";
$icons8-var-user-male: "\f138";
$icons8-var-user-manual: "\f4b1";
$icons8-var-user-menu-male: "\f1d1";
$icons8-var-user-shield: "\f2b5";
$icons8-var-valet-parking: "\f44e";
$icons8-var-validation: "\f2a8";
$icons8-var-variation: "\f4a6";
$icons8-var-verified-account: "\f1de";
$icons8-var-versions: "\f4e6";
$icons8-var-very-popular-topic: "\f1a0";
$icons8-var-video-file: "\f4dd";
$icons8-var-video-message: "\f1a6";
$icons8-var-video-playlist: "\f484";
$icons8-var-view-details: "\f4b3";
$icons8-var-vintage-camera: "\f47f";
$icons8-var-vip: "\f1db";
$icons8-var-virus-free: "\f2a5";
$icons8-var-visa: "\f2ef";
$icons8-var-visit: "\f33d";
$icons8-var-visual-effects: "\f326";
$icons8-var-vk-com: "\f3b7";
$icons8-var-voice: "\f49c";
$icons8-var-voice-recognition: "\f26f";
$icons8-var-volume: "\f295";
$icons8-var-waiting-room: "\f44c";
$icons8-var-wall-mount-camera: "\f4a4";
$icons8-var-wallet: "\f2ce";
$icons8-var-warning-shield: "\f2b0";
$icons8-var-watch: "\f1f4";
$icons8-var-watches-front-view: "\f1f6";
$icons8-var-water-transportation: "\f460";
$icons8-var-weight: "\f299";
$icons8-var-whatsapp: "\f3af";
$icons8-var-windows-10: "\f439";
$icons8-var-windy-weather: "\f421";
$icons8-var-withdrawal: "\f248";
$icons8-var-withdrawal-limit: "\f2d3";
$icons8-var-won: "\f2df";
$icons8-var-word: "\f4e1";
$icons8-var-wordpress: "\f3a3";
$icons8-var-work: "\f255";
$icons8-var-worker: "\f4e9";
$icons8-var-workflow: "\f3c1";
$icons8-var-workstation: "\f352";
$icons8-var-wrench: "\f32e";
$icons8-var-xls: "\f4e2";
$icons8-var-yahoo: "\f43c";
$icons8-var-yelp: "\f3a9";
$icons8-var-you-and-me: "\f17d";
$icons8-var-youtube: "\f3a0";
$icons8-var-zip-code: "\f188";
$icons8-var-zoom-in: "\f1e0";
$icons8-var-zoom-out: "\f1e1";
$icons8-var-zoom-to-actual-size: "\f1e2";
$icons8-var-zoom-to-extents: "\f1e3";
