@import "../../../../../account/assets/admin/source/css/backup/variables";

.proposal-item-table,
.invoice-item-table {
  tbody > tr > td:first-child {
    position: relative;
    padding-left: map-get($spacers,4);
  }

  tbody > tr.sortable-chosen td {
    background: color-level($warning, -11);
  }

  .handle {
    position: absolute;
    top: 6px;
    left: 2px;
    bottom: 6px;
    width: 7px;
    border-left: 2px dotted $gray-500;
    border-right: 2px dotted $gray-500;
    cursor: move;
  }
}
