[data-rid="card-field-content_section"] {
  position: relative;

  .content-tinymce-panel {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  .tox.tox-tinymce.tox-tinymce-inline {
    max-width: 100%;
  }

  [data-rid="proposal-content"] {
    min-height: 200px;
  }
}
